doctype 5
html  
  head
    title Chrono.js demo page
  body
    h1 Chrono.js Demo !
    section#mostSimple
      h2 Most Simple example, the ticker
      p Just call the given handler, you may want to try the controls
    script(type='text/javascript', src='../lib/chrono.js')
    script(type='text/javascript', src='./script.js')
